html, body, * {
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
    color: inherit;
    user-select: none;
    box-sizing: border-box;
}

:root {
    color: #FAF9F6;
}

main {
    height: 2000px;
    padding: 20px;
    border: 1px solid red;
    background-image: url("./images/puya.jpg");
    background-repeat: round;
    background-color: rgba(0, 0, 0, 0.4); 
    background-blend-mode: multiply; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: fit-content;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 5px;
    border: 1px solid red;
    background-color:#008000;
}

/* Disables top green bar
.original {
    visibility: hidden;
}
*/

ul {
    display: flex;
    gap: 20px;
}

header i {
    font-size: 25px;
    padding: 0px 10px 0px 10px;
}

.ghost-header {
    position: relative;
    display: flex;
    justify-content: center;
    top: 0px;
    background-color: red;

}

ul li a {
    font-size: 20px;
}

section {
    width: max-content;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 20px;
}

.group {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 10px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #008000;
    border-radius: 50%;
    padding: 20px; 
    aspect-ratio: 1 / 1; 
    line-height: 0; 
}

.button a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
}

.button i {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 30px;
}